<style>
	div {margin: 25px 150px 25px 150px;}
	p 	{margin: 25px 50px 25px 50px;}
	h1  {text-align:center}
	body {background-color:yellow;}
	p    {background-color:Tomato;}
	table {width:100%}
	table, th, td { border: 1px solid black;border-collapse: collapse;}
</style>